.App {
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.users-bar,
.user-info {
  display: flex;
  flex-direction: column;
  width: 19vw;
  border: 1px solid #ededed;
  font-size: small;
}
.users-bar_name,
.user-info_details {
  padding: 10px;
  border: 1px solid #ededed;
  -webkit-text-stroke: thin;
}
.users-bar_name:hover {
  cursor: pointer;
  background: #0f7ffa;
  border-radius: 5%;
  color: white;
  transition: 0.3s;
}

